<div class="well">
    <table>
        <tr>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.complexity.value }}</td>
            <td style="width: 160px">Complexity</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.lines.value }}</td>
            <td style="width: 160px">Lines</td>
            <td style="width: 20px;">&nbsp;</td>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.methods.value }}</td>
            <td style="width: 160px">Methods</td>
        </tr>
        <tr>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.complexityPerMethod.value }}</td>
            <td style="width: 160px">Complexity / Method</td>
            <td style="width: 20px">&nbsp;</td>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.linesOfCode.value }}</td>
            <td style="width: 160px">Lines of Code</td>
            <td style="width: 20px">&nbsp;</td>
            <td style="width: 20px; text-align: right; font-weight: bold;">{{ metrics.linesOfCodePerMethod.value }}</td>
            <td style="width: 160px">Lines / Method</td>
        </tr>
    </table>
</div>