{% if 0 %}
    <div style="float: right;">
    <div class="well">
        <div><i class="icon-align-left"></i> Breakdown</div>
        <div class="graph-breakdown"></div>
        {% for score, count in build.getBreakdown %}
            <div><span class="badge badge-score-{{ score }}">{{ score }}</span> {{ count }}</div>
        {% endfor %}
    </div>

    <div class="well">
        <div><i class="icon-fire"></i> Hotspots</div>
        {% for hotspot in build.getHotspots %}
            <div><span class="badge badge-score-{{ hotspot.score }}">{{ hotspot.score }}</span> <a href="{{ url("classroom_class", {projectId: project.id, className: hotspot.fullQualifiedName}) }}">{{ hotspot.name }}</a></div>
        {% endfor %}
    </div>
    </div>
    
    <script>
        $(function() {
            var data = {{ build.getBreakdown|json_encode }},    
                width = 100,
                height = 100,
                radius = (Math.min(width, height) / 2),
                color, arc, pie, svg;
            
            color = d3.scale.ordinal()
                .range(["green", "greenyellow", "yellow", "orange", "orangered", "red", "darkred"]);
                
            arc = d3.svg.arc()
                .outerRadius(radius - 10)
                .innerRadius(radius - 25);
                
            pie = d3.layout.pie()
                .sort(null)
                .value(function(d) { return d; });
                
            svg = d3.select(".graph-breakdown").append("svg")
                .attr("width", width)
                .attr("height", height)
              .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
                
            var g = svg.selectAll(".arc")
                .data(pie(data))
                .enter().append("g")
                    .attr("class", "arc");
                    
            g.append("path")
                .attr("d", arc)
                .style("fill", function(d, index) { return color(index); });
                    
        });
    </script>
    
{% endif %}

{% for change in changes %}
    {% include "ClassroomProjectBundle:Project:feed/" ~ change.type ~ ".html.twig" with {change: change} %}
{% endfor %}
