<div>
    <table class="table table-hover">
        <tr>
            <td>Class</td>
            <td>score</td>
            <td>WMC</td>
            <td>Methods</td>
            <td>Smells</td>
        </tr>
    {% for class in classes.classes %}
        <tr>
            <td>
                <div class="classname"><a href="{{ url("code_class", {projectId: project.id, className: class.fullQualifiedName}) }}">{{ class.name }}</a></div>
                <div class="namespace">{{ class.namespace }}</div>
            </td>
            <td><span class="badge badge-score-{{ class.score }}">{{ class.score }}</span></td>
            <td>{% if class.metrics.complexity is defined %}{{ class.metrics.complexity.value }}{% else %}0{% endif %}</td>
            <td>{% if class.metrics.methods is defined %}{{ class.metrics.methods.value }}{% else %}0{% endif %}</td>
            <td>{{ class.smells|length }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
