<h1>Project {{ project.name }}</h1>

{% if build %}
<div>
    <div>Breakdown</div>
    {% for score, count in build.getBreakdown %}
        <div>{{ score }}: {{ count }}</div>
    {% endfor %}
</div>

<div>
    <div>Hotspots</div>
    {% for class, score in build.getHotspots %}
        <div><a href="{{ url("code_class", {projectId: project.id, className: class}) }}">{{ class }}</a>: {{ score }}</div>
    {% endfor %}
</div>
{% endif %}

<h2>
    <a href="{{ url("code_project", {projectId: project.id, card: "feed"}) }}">Feed</a>
    {% if build %}
    | <a href="{{ url("code_project", {projectId: project.id, card: "classes"}) }}">Classes</a>
    | <a href="{{ url("code_project", {projectId: project.id, card: "smells"}) }}">Smells</a>
    {% endif %}
</h2>

{% if not card or card == "feed" %}
    {% render url("code_project_feed", {projectId: project.id}) %}
{% elseif card == "classes" %}
    {% render url("code_project_classes", {projectId: project.id}) %}
{% elseif card == "smells" %}
    {% render url("code_project_smells", {projectId: project.id}) %}
{% endif %}