<h1>smells</h1>

{% for class in classes.classes %}
    {% if class.hasSmells() %}
        {% for smell in class.smells %}
            <h3><a href="{{ url("code_class", {projectId: project.id, className: class.name}) }}">{{ class.name }}</a></h3>
            <div>{{ smell.origin }}: {{ smell.text }} ({{ smell.score }})</div>
        {% endfor %}
    {% endif %}
{% endfor %}